{%extends 'base.html'%}
{%load bootstrap4%}

{{block.super}}
{%block content%}
<br>
<br>
<br>
<br>
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="loggi">
            <h2>Create a Class</h2>
              <form class="form-group" action="{%url 'new-class'%}" method="POST" enctype="multipart/form-data">
              {%csrf_token%}
              {%bootstrap_form form%}
              <button class="btn btn-default" type="submit" name="button">Create Class</button>
              <br> <br>
            </form>
          </div>

        </div>
        <div class="col-md-3"></div>

      </div>


    </div>


{%endblock%}