<h1>signup
    <a href="{% url 'logout' %}">logout</a><br>
    <a href="{% url 'new-class' %}">New Class</a>
</h1>
{% extends 'portal/regbase.html'%}
{% load bootstrap4 %}
{% block content %}

<br>
<br>
<br>
<br>
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="loggi">
            <h2>Student SignUp</h2>
              <form class="form-group"  method="POST" enctype="multipart/form-data">
              {%csrf_token%}
              {%bootstrap_form form%}
              <button class="btn btn-default" type="submit" name="button">Sign Up</button>
              <br> <br>
              <div class="form-group col-mb-3">
                <small class="text-muted"> 
                    Already have an account ? <a href="{% url 'login' %}">Log In</a> 
                </small>
            </div>
            </form>
          </div>

        </div>
      </div>


    </div>
{% endblock %}
